.button {
  padding: 12px;
  text-decoration: none;
  border-radius: 3px;
  border: 0px;
}

.button-green {
  background: green;
  color: white;
}

.button-green:hover {
  background: #6a9a36;
  transition: all ease .3s;
}
