.instructors {
}

.instructors-img {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 120px;
  border: 2px solid lightsteelblue;
  border-radius: 100px;
}

.instructors-text {
  font-size: 0.85em;
}

.instructor {
  min-height: 125px;
}
