.order {
  height: 350px;
  background:  #DCDCDC;
  background: linear-gradient(to top, #AFEEEE, #DCDCDC);
  padding-bottom: 30px;
}

.order-form {
  padding: 10px;
}

.order-input {
  width: 90%;
  height: 30px;
  margin: 5, 5, 5, 0;
  border: 1px solid gray;
  border-radius: 4px;
}
