body {
  font-size: 19px;
  font-family: 'Kurale', serif;
}

.title {
  font-size: 2em;
}

.main-title {
  font-size: 3em;
}

.chapter-title {
}

.text-center {
  text-align: center;
}

.line {
  color: lightsteelblue;
}
